h1 {
	font-family: Arial;
	font-size: 400%;
	color: rgb(255,255,255);
	text-align: center;}
body {
	background-color: #333333;
	font-family: Arial;
	color: #ffffff;}
a {
	color: #ffffff;
	font-family: Arial;}
p#center {
	text-align: center;
	font-size: 200%}
